.main-header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #464444;
  color: white;
  padding: 0.5rem;
}


.user-info {
  text-align: right; 
}

.user-info p {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.user-info button {
  margin-left: 10px; 
}

.user-info .login-link {
  font-size: 20px;
  color: white; 
  text-decoration: none; 
}

.user-info .login-link:hover {
  text-decoration: underline; 
}

.home-container {
  background: url('https://images.unsplash.com/photo-1523995462485-3d171b5c8fa9?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-container {
  background: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-message {
  color: red;
}


.navigation-bar {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  
  .navigation-bar a {
    color: white;
    text-decoration: none;
    flex-grow: 1;
    margin: 0 1rem;
  }
  
  .navigation-bar a:hover {
    text-decoration: underline;
  }

  .articles-header {
    text-align: center;
  }

  .article-card {
    background-color: #f4f4f4; 
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
      'author-title author-title'
      'article-img-container article-img-container'
      'comments-votes date';
    max-width: 23%;
    min-width: 340px;
    flex: 1;
    color:black;
    }

  .author-title {
    grid-area: author-title;
    padding: 20px; 
    text-align: center;
  }
  
  .date {
    display: flex;
    grid-area: date;
    padding: 20px;
    justify-content: right;
    align-items: center;
  }
  
  .article-img-container {
    grid-area: article-img-container;
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
  }
  
  .comments-votes {
    grid-area: comments-votes;
    padding: 20px;
    display: flex;
    justify-content: left; 
    align-items: center; 
  }

  .votes {
    color: green;
  }

  .comments {
    color: blue;
    margin: 10px;
  }
  
  .article-card img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; 
  }

  .article-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .article-list {
    justify-content: left;
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
  }

  .article-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto 1fr auto; 
    grid-template-areas:
      "header header"
      "author-date author-date"
      "image image"
      "content content"
      "votes-comments votes-comments";
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 1% auto;
    padding: 20px;
  }
  
  .article-header {
    text-align: center;
    grid-area: header;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  
  .author-date {
    grid-area: author-date;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; 
    padding: 10px 0; 
  }
  .author-date p {
    margin: 0 20px; 
}
.bold-text {
  font-weight: bold;
  color:	#606060;
}
  
  .single-article-img-container {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .article-img {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
  }
  
  .article-body {
    grid-area: content;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
  }

 
.single-votes-comments {
  max-width: 100%;
  grid-area: votes-comments;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-votes-comments p {
  margin-right: 50px;
}

.comments-button {
  margin-left: 50px;
  height: 50px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
}



.comments-list {
  list-style: none;
  padding: 0;
}

.comment-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.username-date {
  display: flex;
  align-items: center;
}

.username-date strong {
  color: rgb(51, 0, 255);
  margin-right: 8px;
}

.username-date p {
  color: #606060;
}

.comments-header {
  text-align: center;
}

.article-votes-container {
  display: flex;
  align-items: center;
}

.votes-and-buttons {
  flex-grow: 1; 
  display: flex;
  align-items: center;
}

.vote-buttons {
  display: flex;
}

.vote-buttons button {
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 18px; 
  padding: 2px 10px; 
  border-radius: 5px; 
}


.votes-and-buttons p {
  color: green;
  margin: 10px; 
  font-size: 18px; 
}


.add-comment {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.add-comment textarea {
  width: 98.5%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  resize: none;
}

.add-comment button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-comment button:hover {
  background-color: #0056b3;
}

.articles-nav-bar {
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.articles-nav-bar a {
  max-width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease; 
}

.articles-nav-bar a:hover {
  border-bottom: 3px solid #007bff; 
}

.sort-dropdown {
  max-width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sort-dropdown label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-dropdown select {
  padding: 5px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .article-card {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .sort-dropdown {
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align to the left */
  }
}